# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build/
/.vercel

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Local Configuration / Credentials
.env
.env*.local
server-settings.json
users.json
spam-senders.json

# Runtime uploads & temporary data
/uploads/
/scratch/

# OS metadata
.DS_Store
Thumbs.db

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo
